<% include header %>
  <div class="container">
    <ul class="device-list">
      <% devices.forEach( function(device){ %>
      <li>
        <div class="device-icon" style="background-image: url(/common/img/<%=device.device_prefix%>.png)"></div>
        <div class="device-info">
          <div class="device-info-top">
            <div class="device-name"><%= device.device_alias %></div>
          </div>
          <div class="device-info-bottom">
            <div class="device-identifier"><%= device.device_identifier %></div>
          </div>
        </div>
        <div class="device-status device-status-offline"></div>
      </li>
      <% }) %>
    </ul>
  </div>
<% include footer %>
