
    <% javascripts.forEach(function(file){ %>
    <script src="<%= file %>"></script>
    <% }) %>
    <div class="ui-blocker" style="display:none">
      <div class="ui-blocker-wrapper">
        <div class="ui-blocker-spinner"></div>
      </div>
    </div>
</body>

</html>
