<% include header %>
  <div class="pic">
    <div class="wifi"></div>
  </div>
  <div class="tips">
    <ul>
      <li>1. 确定手机已连接WiFi</li>
      <li>2. 请长按设备上的配置按钮</li>
      <li>3. 请等待WiFi配置指示灯闪烁后松开</li>
    </ul>
  </div>
  <div class="action">
    开始配置
  </div>

  <script>
    wx.config({
      debug: false,
      beta: true,
      appId: '<%= config.appId %>',
      timestamp: '<%= config.timestamp %>',
      nonceStr: '<%= config.nonceStr %>',
      signature: '<%= config.signature %>',
      jsApiList: [
        'configWXDeviceWiFi',
        'scanQRCode'
      ]
    });
    wx.error(function (res) {
  
    });
  </script>
<% include footer %>
